@model uygulama.Entity.IhaleBilgileri

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
<div class="container pb-5">
    <h2>İhaleyi silmek istediğinize emin misiniz?</h2>

    <hr />
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KategoriID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KategoriID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IhaleDurum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IhaleDurum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BaslangicFiyat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BaslangicFiyat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IhaleBaslangicT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IhaleBaslangicT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IhaleBitisT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IhaleBitisT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OnaylananTeklifID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OnaylananTeklifID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IhaleDetayBilgi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IhaleDetayBilgi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IhaleUrunIsmi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IhaleUrunIsmi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" />
                @Html.ActionLink("İhale Listesi", "Index", null, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
</div>